$dark-orange: hsl(26, 100%, 55%);
$background-color: #ffff;
$border-radius-small: 10px;
$border-radius-middle: 15px;
$border-radius-big: 20px;
$small-gap: 1rem;
$middle-gap: 2rem;
$dark-gray: hsl(219, 9%, 45%);